<md-toolbar color="primary"> <span>Enigma</span> </md-toolbar>

<div fxFlex>
  <md-input-container floatPlaceholder="auto">
    <textarea mdInput
              [(ngModel)]="plainText"
              placeholder="plain text"></textarea>
  </md-input-container>

  <md-card>
    <md-card-title>Encrypted Message</md-card-title>
    <md-card-content> {{ cypherText }} </md-card-content>
  </md-card>
</div>

<app-enigma [enigmaModel]="enigma" [plaintext]="plainText" (onEncryption)="addEncryptedChar($event)">
</app-enigma>
