<md-toolbar color="primary"> <span>Enigma</span> </md-toolbar>

<md-input-container floatPlaceholder="auto">
  <textarea mdInput
      [(ngModel)]="plainText"
      placeholder="plain text"></textarea>
</md-input-container>

<md-card>
  <md-card-title>Encrypted Message</md-card-title>
  <md-card-content> {{ cypherText }} </md-card-content>
</md-card>

<app-enigma [plaintext]="plainText" (onEncryption)="cypherText = $event">
  <app-rotors>
    <app-rotor [substitutionCypher]="substitutionCypherFactory.fromRotorNumber('IC')"></app-rotor>
    <app-rotor [substitutionCypher]="substitutionCypherFactory.fromRotorNumber('IIC')"></app-rotor>
    <app-rotor [substitutionCypher]="substitutionCypherFactory.fromRotorNumber('IIIC')"></app-rotor>
  </app-rotors>
</app-enigma>
